.container{
	position: relative;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 50px;
	box-sizing: border-box;

	h1{
		text-align: center;
	}

	p.total{
		font-weight: bold;
		text-align: right;
		margin: 15px 10px 0 0;
		font-size: 20px;
	}

	.row{
		display: block;
		background-color: #efefef;
		margin: 5px;
		padding: 5px;
		box-sizing: border-box;
		color: #000;
		position: relative;

		span{
			position: absolute;
			right: 5px;
		}
	}

	.cta{
		a{
			display:block;
		}
	}
}

@media only screen and (max-width: 600px){
	.container{
		padding: 0 5px;
	}
}
